<div class= "service-partial">
<h2><span class="glyphicon glyphicon-road"></span> &nbsp;<%= link_to t('service.index.title') , services_path , class: "btn-link" %><span> > <%= t('event.index.info') %> </span>

</h2>

<div class="service-content">
<div class="row">
<div class="col-xs-4">
 <%= image_tag "http://0.0.0.0:8080"+ @service[:results][:image_path], :class => 'img-thumbnail' %>
</div>
<div class="col-xs-8">
    <h3><%= @service[:results][:name]%></h3>


    <p class="decscription">
  <%= @service[:results][:description]  %>
    </p>

  
</div>
</div>
<p class="left"> <span class="glyphicon glyphicon-map-marker big"></span>
<%= @service[:results][:address] %> 
</p>
<p class="right"><span class="glyphicon glyphicon-dashboard big"></span> 
<%= @service[:results][:order_hours] %> 
</p>
<div class="clear"></div>
<p class="left"> <span class="glyphicon glyphicon-earphone big"></span>
<%= @service[:results][:call_to_order] %> 
</p>
<p class="right"><span class="glyphicon glyphicon-credit-card big"></span> 
<%= t('service.show.make_order') %> 
</p>
<div class="clear"></div>
<p > <span class="glyphicon glyphicon-globe big"></span>

<%= link_to @service[:results][:web_page], "http://google.com" %>
</p>
<div id="foot">
<h4><a href="#"><%= t('service.show.view_term') %></a></h4>
<p class="term">
<%= @service[:results][:term] %> 
</p>
</div>
</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $("p.term").hide();
  $("#foot a").click(function(e){
    e.preventDefault();
     $("p.term").slideToggle();
  });
});
</script>