<div class= "bulletin-partial">
<h2 class="header">
  <span class="fa fa-bullhorn"></span> &nbsp;<%= link_to t('bulletins.index.title') , bulletins_path , class: "btn-link nice-red" %>
 <span> <i class="fa fa-angle-right"></i> <%= t('bulletins.index.info') %></span>
</h2>

<div class="bulletin-content">
    <h3><%= @bulletin[:results][:title] %></h3>
 <%= simple_format( @bulletin[:results][:content] , {class: 'keep-format'} ) %>
       <span ><%= t('bulletins.index.daypost') %> : <i> <%= @bulletin[:results][:date]%></i></span>
        <br>

</div>

</div>