<div profile-partial>
<h2 class="header"><span class="glyphicon glyphicon-user"></span> &nbsp;<%= link_to t('users.title') , user_path , class: "btn-link nice-red" %> <span> > <%= t('users.edit_profile') %> </span>

</h2>
<% if @errors %>
<% @errors.each do |e| %>
<%= e %>
<% end %>
<% end %>
<%= form_tag user_path, method: :put , :multipart =>true  do %>
<div class="row">
<div class="col-xs-10">
  <div class="form-group">
    <%= label :user, :name %>
    <%= text_field_tag :name, @user[:name], { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :phone %>
    <%= text_field_tag :phone, @user[:phone], { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :email %>
    <%= text_field_tag :city, @user[:city], { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :interest %>
    <%= text_area_tag :interest, @user[:interest], { class: 'form-control'} %>
  </div>


  <div class="form-group">
    <%= button_tag t('.submit'), { type: :submit, name: 'user[submit]', value: 'Submit', class: 'btn btn-primary btn-block' } %>
  </div>
  <%= file_field_tag :image , style:"display:none" %>
  </div>
  <div class="col-xs-2">
          <div class="img-preview">
          <%= image_tag url+@user[:image], { id: 'img-thumbnail', class: 'img-thumbnail', size: '250x250' } %>
        </div>
  </div>
  </div>
<% end %>
</div>
<script type="text/javascript">
    $(document).on('click', '#img-thumbnail', function () {
        $('#image').click();
    })

    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
      f = files[0]
      // Only process image files.
      if (f.type.match('image.*')) {
        var reader = new FileReader();
        reader.onload = (function (theFile) {
          return function (e) {
            // alert(e.target.result);
            document.getElementById("img-thumbnail").src = e.target.result;
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }
    document.getElementById('image').addEventListener('change', handleFileSelect, false);
</script>

