<%= form_tag update_password_user_path, method: :put do %>
  <div class="form-group">
    <%= label :user, :current_password %>
    <%= text_field :user, :current_password, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :password %>
    <%= text_field :user, :password, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :password_confirm %>
    <%= text_field :user, :password_confirm, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= button_tag t('.submit'), { type: :submit, name: 'user[submit]', value: 'Submit', class: 'btn btn-primary btn-block' } %>
  </div>
<% end %>

