<h2 class="header"><span class="glyphicon glyphicon-user"></span> &nbsp;
<span><%=t('setting.title') %> </span>
 <span> > <%= t('setting.chang_password') %> </span>

</h2>
<%= form_tag update_password_user_path, method: :put, remote: true do %>
  <div class="form-group">
    <%= label :user, :current_password %>
    <%= password_field :user, :current_password, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :password %>
    <%= password_field :user, :password, { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= label :user, :password_confirmation %>
    <%= password_field :user, :password_confirmation, { class: 'form-control'} %>
  </div>
  <%= hidden_field_tag 'user[auth_token]', session[:auth_token] %>
  <div class="form-group">
    <%= button_tag t('.submit'), { type: :submit, name: 'user[submit]', value: 'Submit', class: 'btn btn-primary btn-block' } %>
  </div>
<% end %>
<%= @class %>

