<div class= "event-partial">
<h2 class="header"><span class="glyphicon glyphicon-calendar"></span> &nbsp;<%= link_to t('event.index.title') , events_path , class: "btn-link nice-red" %><span> > <%= t('event.index.info') %> </span>

  <%= link_to "#", {class: 'btn-link left nice-red', remote: true} do %>
      <span class="glyphicon glyphicon-film"></span> <%= t('event.show.view_photo') %>
  <% end %>


</h2>

<div class="event-content">
<div class="row">
<div class="col-xs-4">
 <%= image_tag url+@all_image[:results][0][:image_url], :class => 'img-thumbnail' %>
</div>
<div class="col-xs-8">
    <h3><%= @event[:results][:name]%></h3>

    <div class = "date-post"><%= t('event.index.daypost') %> : <i><%= @event[:results][:created_at].to_datetime.strftime('%d/%m/%Y ') %></i></div> 
    <p class="list_user"><span class="glyphicon glyphicon-user big"></span>
   <span class="num"><%= @list_user[:results][:num_user] %> </span>
    <%= t('event.show.resident_atend') %>
    <i class="include"><%= @list_user[:results][:user_join] ? t('event.show.including') : "" %></i>
    </p>
    <% unless @list_user[:results][:user_join] %>
    <%= link_to t('event.show.im_comming') , join_event_path(@event[:results][:id] ), class: "btn btn-info join" , remote: true %>
    <% end %>
</div>
</div>
<p id="left"> <span class="glyphicon glyphicon-map-marker big"></span>
<%= @event[:results][:location] %> 
</p>
<p id="medium"><span class="glyphicon glyphicon-calendar big"></span>
<%= @event[:results][:date] %> 
</p>
<p id="right"><span class="glyphicon glyphicon-dashboard big"></span> 
<%= @event[:results][:event_start].to_datetime.strftime('%I:%M %P') unless @event[:results][:event_start].nil? %> - 
<%= @event[:results][:event_end].to_datetime.strftime('%I:%M %P') unless @event[:results][:event_start].nil? %> 
</p>
<p id= "foot"><%=@event[:results][:description] %></p>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
      var dynamicimg =[]
      <% @all_image[:results].each do |img| %>
      dynamicimg.push( {"src":'<%= url+img[:image_url] %>',"thumb":'<%= url+img[:image_url_thumb] %>'})
      <% end %>
    $('a.left').click(function(e){
    $(this).lightGallery({
    dynamic:true,
    mobileSrc:true,
    dynamicEl:dynamicimg
    }); 
    });
    });
</script>