<%= form_tag contacts_path, remote: true do %>
  <div class="form-group">
    <%= label :contact_role, :resident, { class: 'radio-inline' } do %>
      <%= radio_button :contact, :role, :resident, { checked: true } %> <%= t('.im_a_resident') %>
    <% end %>

    <%= label :contact_role, :merchant, { class: 'radio-inline' } do %>
      <%= radio_button :contact, :role, :merchant %> <%= t('.im_a_merchant') %>
    <% end %>
  </div>

  <div class="form-group">
    <%= text_field :contact, :name, { class: 'form-control', placeholder: t('.name') } %>
  </div>
  <div class="form-group">
    <%= text_field :contact, :email, { class: 'form-control', placeholder: t('.email') } %>
  </div>
  <div class="form-group">
    <%= text_field :contact, :phone, { class: 'form-control', placeholder: t('.phone_num') } %>
  </div>
  <div class="form-group">
    <%= label :contact, :message %>
    <%= text_area :contact, :message, { class: 'form-control', placeholder: t('.message') } %>
  </div>
  <div class="form-group">
    <%= button_tag t('.submit'), { type: :submit, name: 'contact[submit]', value: 'Submit', class: 'btn btn-primary btn-block' } %>
  </div>
<% end %>

