<!--<div class="col-xs-12 col-sm-6">-->
  <!--<h2 class="text-center"><%= t('.name_app') %></h2>-->
  <!--<h4 class="text-center"><%= t('.info') %></h4>-->
  <!--<h4 class="text-center"><%= t('.description') %></h4>-->
  <!--<p class="text-center"><%= t('.made_private') %></p>-->
  <!--<br>-->
  <!--<strong class="text-justify"><%= t('.download_app') %></strong>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-6">-->
  <!--<h1 class="text-center"><%= t('.sign_up_now') %></h1>-->
  <!--<%#= render 'form' %>-->
<!--</div>-->
