<div class="row private-dh">
  <% if !@course.nil? %>
      <div class="col-md-12 icon-menu">
        <div class="col-md-1">
          <%= image_tag 'no-image.jpg', class: 'img-thumbnail' %>
        </div>
        <div class="col-md-11">
          <h4><a href="<%= courses_path %>"><%= t('layout_application.courses') %></a> &nbsp;<a class="glyphicon glyphicon-chevron-right"></a> &nbsp;<%= t('privileges.info') %>
          </h4>
        </div>
      </div>
      <div class="col-md-12" id="img-privileges">
        <hr>
        <div class="col-md-4"><%= image_tag 'no-image.jpg', class: 'img-thumbnail' %></div>
        <div class="col-md-8 height-200">
          <h3><%= @course.name %></h3>
          <h4><%= @course.instructor %></h4>
          <h4><%= @course.description %></h4>
        </div>
      </div>
      <div class="col-md-12 margin-top-20">
        <div class="col-md-1 text-center"><a class="glyphicon glyphicon-earphone font-size-35"></a> </div>
        <div class="col-md-5 margin-top-10"><%= @course.phone %></div>
        <div class="col-md-1 text-center"><a class="glyphicon glyphicon-time font-size-35"></a> </div>
        <div class="col-md-5 margin-top-10"><%= @course.more_info %></div>
      </div>
      <div class="col-md-12 margin-top-20">
        <div class="col-md-1 text-center"><a class="glyphicon glyphicon-envelope font-size-35"></a> </div>
        <div class="col-md-5 margin-top-10"><%= @course.email %></div>
      </div>
  <% else %>
      <h4><%= t('privileges.empty') %></h4>
  <% end %>
</div>