<!DOCTYPE html>
<html>
<head>
  <title>Rcs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bootstrap theme</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= menu_item t('layout_application.my_profile'), '#' %>
          <%= menu_item t('layout_application.setting'), '#' %>
          <%= menu_item t('layout_application.setting'), '#' %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="notifications"></div>
<div class="container margin-ttop-50">
  <div class="row">
    <div>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% if @privileges.size > 0 %>
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <% for i in 1...@privileges.size %>
                  <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
              <% end %>
          <% else %>
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% if @privileges.size > 0 %>
              <div class="item active">
                <h1>ssgsrg</h1>
              </div>
              <% for i in 1...@privileges.size %>
                  <div class="item">
                    <h1>hsdbfusb</h1>
                  </div>
              <% end %>
          <% else %>
              <div class="item active">
                <h1>no data</h1>
              </div>
          <% end %>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <h3>PMH Park</h3>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
