<!DOCTYPE html>
<html>
<head>
  <title>Rcs</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= homes_path %>">
          <span class="rcs-logo">
            <h1 class="title">
              <%= t('.first_name') %>
              <span class="title-dark"><%= t('.last_name') %></span>
            </h1>
          </span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <%= menu_item t('.profile'), user_path %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.setting') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%= menu_item t('.change_password'), password_user_path %>
              <%= menu_item t('.tech_support'), support_help_path %>
              <%= menu_item t('.about'), about_help_path %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.language') %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%= menu_item t('.english'), url_for(params.merge(locale: :en)) %>
              <%= menu_item t('.vietnamese'), url_for(params.merge(locale: :vi)) %>
            </ul>
          </li>
        </ul>
        <div class="navbar-right">
          <div class="navbar-btn">
            <%= link_to t('.logout'), session_path, { class: 'btn btn-danger', method: :delete, remote: true } %>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="notifications"></div>
<div class="row content-privileges private-dhk ">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner text-center">
        <% if !@privileges.nil? %>
            <div class="item active">
              <a href="/privileges/<%= @privileges[0].id%>">
                <b><h4><%=@privileges[0].name%>&nbsp</h4></b>
                <h4><%= @privileges[0].description%>&nbsp</h4>
                <h5><%#= t('privileges.price') + ': ' + currency(@privileges[0].price).to_s%></h5>
              </a>
            </div>
            <% for i in 1...@privileges.size %>
                <div class="item">
                  <a href="/privileges/<%= @privileges[i].id%>">
                    <b><h4><%=@privileges[i].name%>&nbsp</h4></b>
                    <h4><%= @privileges[i].description%>&nbsp</h4>
                    <h4><%#= t('privileges.price') + ': ' + currency(@privileges[i].price).to_s%></h4>
                  </a>
                </div>
            <% end %>
        <% else %>
            <div class="item active">
              <h1>no data</h1>
            </div>
        <% end %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
<div class="container">

  <div class="row">
    <div class="col-md-3 col-sm-3 content-left">
      <h4><%= t('layout_application.pmh_park') %></h4>
      <div class='text-center'><%= image_tag 'no-image.jpg' %></div>
      <h4><%= t('layout_application.rcs') %></h4>
      <div class="list-group private-dhk">
        <%= link_to t('layout_application.home'), homes_path, class:"list-group-item list-group-item-info #{session[:menu] == :homes ? 'active' : ''}"%>
        <%= link_to t('layout_application.bulletins'), bulletins_path, class:"list-group-item list-group-item-info #{session[:menu] == :bulletins ? 'active' : ''}"%>
        <%= link_to t('layout_application.events'), events_path, class:"list-group-item list-group-item-info #{session[:menu] == :events ? 'active' : ''}"%>
        <%= link_to t('layout_application.bookings'), bookings_path, class:"list-group-item list-group-item-info #{session[:menu] == :bookings ? 'active' : ''}"%>
        <%= link_to t('layout_application.privileges'), privileges_path, class:"list-group-item list-group-item-info #{session[:menu] == :privileges ? 'active' : ''}"%>
        <%= link_to t('layout_application.services'), services_path, class:"list-group-item list-group-item-info #{session[:menu] == :services ? 'active' : ''}"%>
        <%= link_to t('layout_application.courses'), courses_path, class:"list-group-item list-group-item-info #{session[:menu] == :courses ? 'active' : ''}"%>
        <%= link_to t('layout_application.forms'), forms_path, class:"list-group-item list-group-item-info #{session[:menu] == :forms ? 'active' : ''}"%>
        <%= link_to t('layout_application.house_rules'), house_rules_path, class:"list-group-item list-group-item-info #{session[:menu] == :house_rules ? 'active' : ''}"%>
        <%= link_to t('layout_application.guard_house'), guard_houses_path, class:"list-group-item list-group-item-info #{session[:menu] == :guard_houses ? 'active' : ''}"%>
        <%= link_to t('layout_application.feedback'), new_feedback_path, class:"list-group-item list-group-item-info #{session[:menu] == :feedbacks ? 'active' : ''}"%>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 content-right load-view-content">
      <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="footer">
      <p>© Innoria Company - Project RCS v11082014</p>
    </div>
  </div>
</div>
</body>
</html>

