<!DOCTYPE html>
<html>
<head>
  <title>Rcs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <%= menu_item t('.home'), welcomes_path, { class: session[:menu] == :home ? :active : '' } %>
            <%= menu_item t('.feature'), '#', { class: session[:menu] == :feature ? :active : '' } %>
            <%= menu_item t('.for_resident'), '#', { class: session[:menu] == :for_resident ? :active : '' } %>
            <%= menu_item t('.for_merchant'), '#', { class: session[:menu] == :for_merchant ? :active : '' } %>
            <%= menu_item t('.media'), '#', { class: session[:menu] == :media ? :active : '' } %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div id="notifications"></div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

